<font color="#0D9DF0"><h3><B>Trabalho Final - Python para Ciência de Dados</b></h3></font>
***

# 

---
## 1. Título e Introdução
- Apresente o **tema do projeto**.
    Análise do Desenvolvimento Humano e Econômico Global com base nos dados obtidos no site Gapminder

- Descreva **brevemente os objetivos da análise**.
    O objetivo da análise é averiguar o quanto índices de corrupção e guerras, por exemplo, resultam em um baixo desenvolvimento humano e qualidade de vida nos países

- Explique o **contexto da base de dados Gapminder**.
    A base reune métricas desde 1952 de fatores como renda per capta, expectativa de vida, continente e população

- Liste as **etapas que serão realizadas** no notebook.
    Coleta de dados
    Limpeza e preparação
    Análise e modelagem
    Visualização
    Interpretação
    Síntese e Conclusão

---
## 2. Coleta, Limpeza e Análise Exploratória (AED)

### Objetivo
Preparar os dados, tratando inconsistências e identificando padrões iniciais.

### Itens a incluir
- **Carregamento do dataset** Gapminder.  
- **Verificação de valores ausentes**.  
- **Remoção de duplicados**.  
- **Análise estatística descritiva inicial** (médias, medianas, desvios etc.).  
- **Visualizações exploratórias básicas** (ex: histogramas, boxplots, contagens por continente).  

### Markdown deve conter
- Justificativas das decisões tomadas.  
- Observações sobre a qualidade dos dados.  
- Interpretação dos primeiros resultados.

Neste primeiro momento, estaremos tratando a base principal

In [1]:
import sys
sys.path.append('../avaliacao-python-ciencia-dados/')

from utils.data_info import *

In [76]:
base_gapminder = importa_csv(dataframe_name='../../avaliacao-python-ciencia-dados/Bases/gapminder_full.csv', separador=',', encoding='utf-8')
base_gapminder.head()

Importando o dataframe: ../../avaliacao-python-ciencia-dados/Bases/gapminder_full.csv ...
Dataframe importado com sucesso!
Dimensão: (1736, 6)

       country  year         pop continent  lifeExp   gdpPercap
0  Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1  Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2  Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3  Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4  Afghanistan  1972  13079460.0      Asia   36.088  739.981106

In [77]:
analisa_dados_ausentes(base_gapminder)

Empty DataFrame
Columns: [variavel_analisada, Quantidade, Percentual]
Index: []

In [78]:
verifica_dados_duplicados(base_gapminder)

Foram encontrados 32 registros duplicados

Prévia dos dados duplicados:

         country  year         pop continent  lifeExp    gdpPercap
72   Afghanistan  1997  22227415.0      Asia   41.763   635.341351
145      Bolivia  1987   6156369.0  Americas   57.251  2753.691490
146      Bolivia  1992   6893451.0  Americas   59.957  2961.699694
147      Bolivia  1997   7693188.0  Americas   62.050  3326.143191
148      Bolivia  2002   8445134.0  Americas   63.883  3413.262690

In [79]:
base_limpa = remove_dados_duplicados(base_gapminder)
base_limpa.head()

Removendo dados duplicados ...
Foram encontrados 32 registros duplicados

Prévia dos dados duplicados:
Dados duplicados removidos com sucesso!
Dimensão: (1704, 6)

       country  year         pop continent  lifeExp   gdpPercap
0  Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1  Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2  Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3  Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4  Afghanistan  1972  13079460.0      Asia   36.088  739.981106

In [80]:
# Problemas encontrados:
# 1. Índia -> Pop com Notação Científica - Verificar se precisa tratar
# 2. China -> Pop com decimal
base_limpa.info()
base_limpa.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 1704 entries, 0 to 1735
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   year       1704 non-null   int64
 2   pop        1704 non-null   float64
 3   continent  1704 non-null   object
 4   lifeExp    1704 non-null   float64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(3), int64(1), object(2)
memory usage: 93.2+ KB

             year           pop      lifeExp      gdpPercap
count  1704.00000  1.704000e+03  1704.000000    1704.000000
mean   1979.50000  2.960121e+07    59.474439    7215.327081
std      17.26533  1.061579e+08    12.917107    9857.454543
min    1952.00000  6.001100e+04    23.599000     241.165876
25%    1965.75000  2.793664e+06    48.198000    1202.060309
50%    1979.50000  7.023596e+06    60.712500    3531.846988
75%    1993.25000  1.958522e+07    70.845500    9325.462346
max    2007.00000  1.318683e+09    82.603000  113523.132900

In [81]:
# Reduzir renda per capita para 2 casas decimais
# Reduzir expectativa de vida para 1 casa decimal
# Tratar população da Índia e China
# Rwanda teve uma guerra civil em 1994, o que impactou a expectativa de vida do país. Talvez seja interessante analisar esse ponto.
# Analisar quais paises tem anos faltando -> Não parece ter impacto
#anos_por_pais = base_limpa.groupby("country").count()["year"].reset_index().sort_values(by="year", ascending=True)
#anos_por_pais.head(1000)

base_limpa['gdpPercap'] = base_limpa['gdpPercap'].round(2)
base_limpa['lifeExp'] = base_limpa['lifeExp'].round(1)
base_limpa["pop"] = base_limpa["pop"].astype("int64")
base_limpa["pop"] = base_limpa["pop"].apply(lambda x: f"{x:,.0f}".replace(",", "."))

base_limpa[base_limpa['country'] == 'China'].head(30)
#base_limpa[base_limpa['country'] == 'India'].head(30)

C:\Users\bruno\AppData\Local\Temp\ipykernel_7216\2259588810.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  base_limpa['gdpPercap'] = base_limpa['gdpPercap'].round(2)
C:\Users\bruno\AppData\Local\Temp\ipykernel_7216\2259588810.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  base_limpa['lifeExp'] = base_limpa['lifeExp'].round(1)
C:\Users\bruno\AppData\Local\Temp\ipykernel_7216\2259588810.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  base_limpa["pop"] = base_limpa["pop"].astype("int64")
C:\Users\bruno\AppData\Local\Temp\ipykernel_7216\2259588810.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  base_limpa["pop"] = base_limpa["pop"].apply(lambda x: f"{x:,.0f}".replace(",", "."))

    country  year            pop continent  lifeExp  gdpPercap
297   China  1952    556.263.527      Asia     44.0     400.45
298   China  1957    637.408.000      Asia     50.5     575.99
299   China  1962    665.770.000      Asia     44.5     487.67
300   China  1967    754.550.000      Asia     58.4     612.71
301   China  1972    862.030.000      Asia     63.1     676.90
302   China  1977    943.455.000      Asia     64.0     741.24
303   China  1982  1.000.281.000      Asia     65.5     962.42
304   China  1987  1.084.035.000      Asia     67.3    1378.90
305   China  1992  1.164.970.000      Asia     68.7    1655.78
306   China  1997  1.230.075.000      Asia     70.4    2289.23
307   China  2002  1.280.400.000      Asia     72.0    3119.28
308   China  2007  1.318.683.096      Asia     73.0    4959.11

In [ ]:
# Tratar a base de mortes por guerra e adicionar na brincadeira:
mortes_guerra = importa_csv(dataframe_name='../../avaliacao-python-ciencia-dados/Bases/deaths-in-armed-conflicts-by-type.csv', separador=',', encoding='utf-8')

analisa_dados_ausentes(mortes_guerra)
verifica_dados_duplicados(mortes_guerra) # tem 0 registros duplicados

mortes_guerra.describe()

#Realizar agregação por pais e ano, equalizando a coluna de ano com as da base principal
#A base de mortes em guerra vai de 89 a 2024 e a base principal de 1952 a 2007. teremos apenas um pequeno intervalo de anos de interseçã0
#que será agregado e analisado
anos = [1952, 1957, 1962, 1967, 1972,1977,1982,1987,1992,1997,2002,2007]
colunas_agrupadas = ['Deaths in ongoing conflicts (best estimate) - Conflict type: one-sided violence','Deaths in ongoing conflicts (best estimate) - Conflict type: non-state conflict','Deaths in ongoing conflicts (best estimate) - Conflict type: extrasystemic','Deaths in ongoing conflicts (best estimate) - Conflict type: intrastate','Deaths in ongoing conflicts (best estimate) - Conflict type: interstate']
rename_one_column(mortes_guerra, old_name='Year', new_name='year', inplace=True)

mortes_guerra = agrega_anos(mortes_guerra, anos, colunas_agrupadas,coluna_agrupamento = ['Entity'])
mortes_guerra.head()
#juncao = junta_dataframes(base_limpa, mortes_guerra, chave=['country', 'year'], tipo_juncao='left')
#juncao.head()

Importando o dataframe: ../../avaliacao-python-ciencia-dados/Bases/deaths-in-armed-conflicts-by-type.csv ...
Dataframe importado com sucesso!
Dimensão: (7632, 8)
Foram encontrados 0 registros duplicados

Prévia dos dados duplicados:

,Entity,Deaths in ongoing conflicts (best estimate) - Conflict type: one-sided violence_sum,Deaths in ongoing conflicts (best estimate) - Conflict type: non-state conflict_sum,Deaths in ongoing conflicts (best estimate) - Conflict type: extrasystemic_sum,Deaths in ongoing conflicts (best estimate) - Conflict type: intrastate_sum,Deaths in ongoing conflicts (best estimate) - Conflict type: interstate_sum,year
0,Abkhazia,0,0,0,0,0,1992
1,Abkhazia,0,0,0,0,0,1997
2,Abkhazia,0,0,0,0,0,2002
3,Abkhazia,0,0,0,0,0,2007
4,Abyei,0,0,0,0,0,1992

In [83]:
# renomeiar colunas para facilitar o uso e entendimento do que tá rolando.
rename_one_column(mortes_guerra, old_name='Entity', new_name='country', inplace=True)
rename_one_column(mortes_guerra, old_name='Deaths in ongoing conflicts (best estimate) - Conflict type: one-sided violence_sum', new_name='one-sided violence', inplace=True)
rename_one_column(mortes_guerra, old_name='Deaths in ongoing conflicts (best estimate) - Conflict type: non-state conflict_sum', new_name='non-state conflict', inplace=True)
rename_one_column(mortes_guerra, old_name='Deaths in ongoing conflicts (best estimate) - Conflict type: extrasystemic_sum', new_name='extrasystemic', inplace=True)
rename_one_column(mortes_guerra, old_name='Deaths in ongoing conflicts (best estimate) - Conflict type: intrastate_sum', new_name='intrastate', inplace=True)
rename_one_column(mortes_guerra, old_name='Deaths in ongoing conflicts (best estimate) - Conflict type: interstate_sum', new_name='interstate', inplace=True)

,country,one-sided violence,non-state conflict,extrasystemic,intrastate,interstate,year
0,Abkhazia,0,0,0,0,0,1992
1,Abkhazia,0,0,0,0,0,1997
2,Abkhazia,0,0,0,0,0,2002
3,Abkhazia,0,0,0,0,0,2007
4,Abyei,0,0,0,0,0,1992
...,...,...,...,...,...,...,...
843,Zambia,0,0,0,0,0,2007
844,Zimbabwe,51,0,0,0,0,1992
845,Zimbabwe,0,0,0,0,0,1997
846,Zimbabwe,0,0,0,0,0,2002
847,Zimbabwe,0,0,0,0,0,2007

In [84]:
# Validando o caso de Rwanda pra ver se deu tudo certo
filtro = mortes_guerra['country'] == 'Rwanda'
ausentes = mortes_guerra[filtro].index
mortes_guerra.loc[ausentes].head()

# A soma pra Rwanda deu bom \o/

,country,one-sided violence,non-state conflict,extrasystemic,intrastate,interstate,year
620,Rwanda,3013,0,0,1366,0,1992
621,Rwanda,782261,92,0,3344,0,1997
622,Rwanda,708,0,0,3139,0,2002
623,Rwanda,0,0,0,0,0,2007

In [85]:
#Agora a gente junta as 2 bases pra ver no que dá
juncao = junta_dataframes(base_limpa, mortes_guerra, chave=['country', 'year'], tipo_juncao='left')
juncao.head()

Dataframes unidos com sucesso!
Dimensão: (1704, 11)

,country,year,pop,continent,lifeExp,gdpPercap,one-sided violence,non-state conflict,extrasystemic,intrastate,interstate
0,Afghanistan,1952,8.425.333,Asia,28.8,779.45,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1957,9.240.934,Asia,30.3,820.85,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1962,10.267.083,Asia,32.0,853.10,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,1967,11.537.966,Asia,34.0,836.20,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,1972,13.079.460,Asia,36.1,739.98,NaN,NaN,NaN,NaN,NaN

In [ ]:
#Escreve o arquivo em uma base tratada
exporta_csv(base_limpa, '../../avaliacao-python-ciencia-dados/Bases/tratada/gapminder_tratada.csv', separador=';', encoding='utf-8', index=False)
exporta_csv(mortes_guerra, '../../avaliacao-python-ciencia-dados/Bases/tratada/mortes_guerra_tratada.csv', separador=';', encoding='utf-8', index=False)
exporta_csv(juncao, '../../avaliacao-python-ciencia-dados/Bases/tratada/gapminder_juncao_tratada.csv', separador=';', encoding='utf-8', index=False)

Exportando o dataframe para o arquivo: ../../avaliacao-python-ciencia-dados/Bases/tratada/gapminder_tratada.csv ...
Dataframe exportado com sucesso!
Exportando o dataframe para o arquivo: ../../avaliacao-python-ciencia-dados/Bases/tratada/mortes_guerra_tratada.csv ...
Dataframe exportado com sucesso!
Exportando o dataframe para o arquivo: ../../avaliacao-python-ciencia-dados/Bases/tratada/gapminder_juncao_mortes_guerra_tratada.csv ...
Dataframe exportado com sucesso!

---
## 3. Funções de Visualização e Análise Gráfica

### Objetivo
Criar funções reutilizáveis para gerar gráficos e apoiar a análise.

### Itens a incluir
- Definição de **funções dinâmicas** para gráficos (usando parâmetros flexíveis).  
- Tipos de gráficos recomendados:
  - Evolução temporal (ex: expectativa de vida ao longo dos anos).  
  - Comparações entre continentes.  
  - Relações entre PIB per capita, expectativa de vida e população.  
- Exemplos de uso das funções com resultados visuais.  

### Markdown deve conter
- Explicação do propósito de cada função.  
- Descrição dos tipos de visualizações utilizadas.  
- Observações sobre padrões ou correlações identificadas.

---
## 4. Interpretação das Visualizações

### Objetivo
Interpretar criticamente os dados com base nos gráficos e tabelas.

### Itens a incluir
- Explicação de cada gráfico gerado.  
- Justificativa da escolha do tipo de visualização.  
- Interpretação dos resultados observados.  
- Discussão sobre **tendências globais** e **diferenças regionais**.

---
## 5. Síntese dos Principais Insights

### Objetivo
Resumir os principais achados da análise.

### Itens a incluir
- **Padrões e tendências principais** (ex: crescimento da expectativa de vida, desigualdade econômica).  
- **Anomalias** ou exceções notáveis.  
- **Correlação** entre os indicadores analisados (PIB, população, expectativa de vida).  

### Markdown deve conter
- **Resumo analítico** dos resultados obtidos.  
- **Aplicações práticas**:
  - Implicações para políticas públicas.  
  - Relação com o desenvolvimento social e econômico.  
  - Observações sobre desigualdade global.

---
## 6. Conclusão e Reflexão

### Objetivo
Refletir sobre o processo de análise e o aprendizado obtido.

### Itens a incluir
- **Maiores desafios enfrentados** durante o trabalho.  
- **Principais aprendizados** obtidos.  
- **Habilidades desenvolvidas** (técnicas e analíticas).  
- **Reflexão final** sobre o impacto e relevância da análise.

#### Membros
1. Andre Augusto Ferreira Cabelo
2. Bruno Braga Guedes Cardoso
3. Bruno dos Santos Crivelli
4. Marcelo Tranche de Souza Junior

### Adicionando a importação do arquivo Utils