<font color="#0D9DF0"><h3><B>Trabalho Final - Python para Ciência de Dados</b></h3></font>
***

#### Membros
1. Andre Augusto Ferreira Cabelo
2. Bruno Braga Guedes Cardoso
3. Bruno dos Santos Crivelli
4. Marcelo Tranche de Souza Junior

### Adicionando a importação do arquivo Utils

In [1]:
import sys
sys.path.append('../avaliacao-python-ciencia-dados/')

from utils.data_info import *

In [2]:
base_gapminder = importa_csv(dataframe_name='../../avaliacao-python-ciencia-dados/Bases/gapminder_full.csv', separador=',', encoding='utf-8')
base_gapminder.head()

Importando o dataframe: ../../avaliacao-python-ciencia-dados/Bases/gapminder_full.csv ...
Dataframe importado com sucesso!
Dimensão: (1736, 6)

       country  year         pop continent  lifeExp   gdpPercap
0  Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1  Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2  Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3  Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4  Afghanistan  1972  13079460.0      Asia   36.088  739.981106

In [3]:
analisa_dados_ausentes(base_gapminder)

Empty DataFrame
Columns: [variavel_analisada, Quantidade, Percentual]
Index: []

In [4]:
verifica_dados_duplicados(base_gapminder)

Foram encontrados 32 registros duplicados

Prévia dos dados duplicados:

         country  year         pop continent  lifeExp    gdpPercap
72   Afghanistan  1997  22227415.0      Asia   41.763   635.341351
145      Bolivia  1987   6156369.0  Americas   57.251  2753.691490
146      Bolivia  1992   6893451.0  Americas   59.957  2961.699694
147      Bolivia  1997   7693188.0  Americas   62.050  3326.143191
148      Bolivia  2002   8445134.0  Americas   63.883  3413.262690

In [6]:
base_limpa = remove_dados_duplicados(base_gapminder)
base_limpa.head()

Removendo dados duplicados ...
Foram encontrados 32 registros duplicados

Prévia dos dados duplicados:
Dados duplicados removidos com sucesso!
Dimensão: (1704, 6)

       country  year         pop continent  lifeExp   gdpPercap
0  Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1  Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2  Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3  Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4  Afghanistan  1972  13079460.0      Asia   36.088  739.981106

In [ ]:
# Problemas encontrados:
# 1. Índia -> Pop com Notação Científica - Verificar se precisa tratar
# 2. China -> Pop com decimal
base_limpa.info()
base_limpa.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 1704 entries, 0 to 1735
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   year       1704 non-null   int64
 2   pop        1704 non-null   float64
 3   continent  1704 non-null   object
 4   lifeExp    1704 non-null   float64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(3), int64(1), object(2)
memory usage: 93.2+ KB

             year           pop      lifeExp      gdpPercap
count  1704.00000  1.704000e+03  1704.000000    1704.000000
mean   1979.50000  2.960121e+07    59.474439    7215.327081
std      17.26533  1.061579e+08    12.917107    9857.454543
min    1952.00000  6.001100e+04    23.599000     241.165876
25%    1965.75000  2.793664e+06    48.198000    1202.060309
50%    1979.50000  7.023596e+06    60.712500    3531.846988
75%    1993.25000  1.958522e+07    70.845500    9325.462346
max    2007.00000  1.318683e+09    82.603000  113523.132900

In [25]:
# Reduzir renda per capita para 2 casas decimais
# Reduzir expectativa de vida para 1 casa decimal
# Tratar população da Índia e China
# Rwanda teve uma guerra civil em 1994, o que impactou a expectativa de vida do país. Talvez seja interessante analisar esse ponto.
# Analisar quais paises tem anos faltando -> Não parece ter impacto
base_limpa['gdpPercap_tratada'] = base_limpa['gdpPercap'].round(2)
base_limpa['lifeExp_tratada'] = base_limpa['lifeExp'].round(1)
base_limpa["pop_tratada"] = base_limpa["pop"].apply(lambda x: f"{x:,.0f}".replace(",", "."))

anos_por_pais = base_limpa.groupby("country").count()["year"].reset_index().sort_values(by="year", ascending=True)

anos_por_pais.head(1000)

C:\Users\bruno\AppData\Local\Temp\ipykernel_27168\3472726074.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  base_limpa['gdpPercap_tratada'] = base_limpa['gdpPercap'].round(2)
C:\Users\bruno\AppData\Local\Temp\ipykernel_27168\3472726074.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  base_limpa['lifeExp_tratada'] = base_limpa['lifeExp'].round(1)
C:\Users\bruno\AppData\Local\Temp\ipykernel_27168\3472726074.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  base_limpa["pop_tratada"] = base_limpa["pop"].apply(lambda x: f"{x:,.0f}".replace(",", "."))

                country  year
0           Afghanistan    12
1               Albania    12
2               Algeria    12
3                Angola    12
4             Argentina    12
..                  ...   ...
137             Vietnam    12
138  West Bank and Gaza    12
139          Yemen Rep.    12
140              Zambia    12
141            Zimbabwe    12

[142 rows x 2 columns]